<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>整体布局</title>
<!--  css-->
  <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
  <style>
    .el-header{
      background-color: #B3C0D1;
      color: #333;
      text-align: right;
      line-height: 60px;
    }

     .el-footer {
      background-color: #B3C0D1;
      color: #333;
       padding-top: 12px;
      line-height: 60px;
    }

    .el-aside {
      background-color: #D3DCE6;
      color: #333;
      text-align: center;
      line-height: 200px;
    }

    .el-main {
      background-color: #E9EEF3;
      color: #333;
    }

    body > .el-container {
      margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
      line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
      line-height: 320px;
    }
    .el-table .warning-row {
      background: oldlace;
    }

    .el-table .success-row {
      background: #f0f9eb;
    }
  </style>
</head>
<body>
<div id="app">
<!--  整体布局-->
  <el-container>
<!--   左边: 侧边栏-->
    <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
      <el-menu :default-openeds="['1', '3']">
        <el-submenu index="1">
          <template slot="title"><i class="el-icon-message"></i>学生管理</template>
          <el-menu-item-group>
            <el-menu-item index="1-1">系统信息</el-menu-item>
            <el-menu-item index="1-2">学生信息</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group>
            <el-menu-item index="1-3">学生成绩</el-menu-item>
          </el-menu-item-group>

        </el-submenu>
        <el-submenu index="2">
          <template slot="title"><i class="el-icon-menu"></i>导航二</template>
          <el-menu-item-group>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group>
            <el-menu-item index="2-3">选项3</el-menu-item>
          </el-menu-item-group>

        </el-submenu>

      </el-menu>
    </el-aside>
<!--    右边部分-->
    <el-container>
<!--      头部-->
      <el-header>
        <i class="el-icon-setting"></i>
      </el-header>
<!--     主体部分-->
      <el-main>

        <!--    搜索框-->
        <el-row>
          <el-form :inline="true" :model="search" class="demo-form-inline">
            <el-form-item label="姓名">
              <el-input v-model="search.username" placeholder="请输入姓名"></el-input>
            </el-form-item>
            <el-form-item label="选择所在年级">
              <el-select v-model="search.grade" placeholder="年级">
                <el-option label="不选择" value=""></el-option>
                <el-option label="一年级" value="1"></el-option>
                <el-option label="二年级" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" icon="el-icon-refresh" @click="reset">重置</el-button>
            </el-form-item>
          </el-form>
        </el-row>
        <!--    提供操作的按钮组-->
        <el-row>
          <el-button type="danger" icon="el-icon-delete-solid" @click="dalete()">批量删除</el-button>
          <el-button type="danger" icon="el-icon-plus" @click="add()">新增</el-button>
        </el-row>
        <!--    新增弹出框-->
        <el-dialog :title="info" :visible.sync="dialogFormVisible">
          <el-form :model="student">
            <el-form-item label="学生姓名" :label-width="formLabelWidth">
              <el-input v-model="student.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
              <el-input v-model="student.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
              <el-input v-model="student.age" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="student.phone" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-radio-group v-model.number="student.status">
                  <el-radio :label="1">启用</el-radio>
                  <el-radio :label="0">禁用</el-radio>
                </el-radio-group>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="out()">取 消</el-button>
            <el-button type="primary" @click="okDo()">确 定</el-button>
          </div>
        </el-dialog>
        <!--    渲染数据表格-->
        <template>
          <el-table
                  :data="tableData"
                  style="width: 100%"
                  :row-class-name="tableRowClassName"
                  @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="编号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="password"
                    label="密码"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="age"
                    label="年龄"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="电话"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态"
                    width="120">
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row),infoEdit()">编辑</el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row),openDelete()">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </template>

      </el-main>

<!--      底部-->
      <el-footer>
        <!--    分页-->
        <div class="block">
          <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-sizes="[10, 20, 50, 100]"
                  :page-size="10"
                  layout="sizes, prev, pager, next, jumper,->,total"
                  :total="total">
          </el-pagination>
        </div>
      </el-footer>

    </el-container>
  </el-container>
</div>
</body>
</html>
<script src="js/vue.js"></script>
<!--2：引入elementUI.js-->
<script src="element-ui/lib/index.js"></script>
<script>
  new Vue({
    el:"#app",
    data(){
      return{
        search: {
          username: '',
          grade: ''

        },
        student:{

        },
        info:'',

        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',

        tableData: [{
          id:1,
          username: '王小虎',
          password:'123456',
          age:18,
          phone:'12345678911',
          status:1
        }, {
          id:2,
          username: '王大虎',
          password:'456789',
          age:22,
          phone:'12345678911',
          status:1

        }],
        //     多选事件,选中时，会将选中的对象传入数组中，可以做批量删除
        multipleSelection: [],
        //     分页
        currentPage:2,//当前页
        total:100,//总页数

      }
    },
    // 搜索功能的方法
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      // 重置
      reset(){
        this.search={};
      },
      //     删除
      delete(){
        console.log('delete!');
      },
      //     新增
      add(){
        //弹出新增框
        this.dialogFormVisible = true;
        this.student = {};
        console.log('add!');
        //设置文字
        this.info="新增数据信息";
      },
      // 弹出框关闭按钮
      out(){
        this.dialogFormVisible = false;
        this.student = {};
        this.$message('您取消了操作！');
      },
      // 弹出框提交按钮
      okDo(){

      },
      //     列表颜色
      tableRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
          return 'warning-row';
        } else if (rowIndex === 3) {
          return 'success-row';
        }
        return '';
      },
      //     表格操作
      handleEdit(index, row) {
        console.log(index, row);
      },
      handleDelete(index, row) {
        console.log(index, row);
      },
      //编辑
      infoEdit(){
        console.log('编辑！');
        this.info="编辑信息！";
        this.dialogFormVisible = true;
        //也可以根据数据库查询
        //this.student
      },
      //     表格删除功能
      openDelete() {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      //     多选触发的事件
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      //     分页
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }

    }
  })
</script>
